.github-markdown{font-family:Helvetica,arial,sans-serif;font-size:14px;line-height:1.6;padding-top:10px;padding-bottom:10px;background-color:#fff;padding:30px}.github-markdown>*:first-child{margin-top:0 !important}
.github-markdown>*:last-child{margin-bottom:0 !important}
.github-markdown a{color:#4183c4}
.github-markdown a.absent{color:#c00}
.github-markdown a.anchor{display:block;padding-left:30px;margin-left:-30px;cursor:pointer;position:absolute;top:0;left:0;bottom:0}
.github-markdown h1,.github-markdown h2,.github-markdown h3,.github-markdown h4,.github-markdown h5,.github-markdown h6{margin:20px 0 10px;padding:0;font-weight:bold;-webkit-font-smoothing:antialiased;cursor:text;position:relative}
.github-markdown h1:hover a.anchor,.github-markdown h2:hover a.anchor,.github-markdown h3:hover a.anchor,.github-markdown h4:hover a.anchor,.github-markdown h5:hover a.anchor,.github-markdown h6:hover a.anchor{background:url("../../images/modules/styleguide/para.png") no-repeat 10px center;text-decoration:none}
.github-markdown h1 tt,.github-markdown h1 code{font-size:inherit}
.github-markdown h2 tt,.github-markdown h2 code{font-size:inherit}
.github-markdown h3 tt,.github-markdown h3 code{font-size:inherit}
.github-markdown h4 tt,.github-markdown h4 code{font-size:inherit}
.github-markdown h5 tt,.github-markdown h5 code{font-size:inherit}
.github-markdown h6 tt,.github-markdown h6 code{font-size:inherit}
.github-markdown h1{font-size:28px;color:#000}
.github-markdown h2{font-size:24px;border-bottom:1px solid #ccc;color:#000}
.github-markdown h3{font-size:18px}
.github-markdown h4{font-size:16px}
.github-markdown h5{font-size:14px}
.github-markdown h6{color:#777;font-size:14px}
.github-markdown p,.github-markdown blockquote,.github-markdown ul,.github-markdown ol,.github-markdown dl,.github-markdown li,.github-markdown table,.github-markdown pre{margin:15px 0}
.github-markdown hr{background:transparent url("../../images/modules/pulls/dirty-shade.png") repeat-x 0 0;border:0 none;color:#ccc;height:4px;padding:0}
.github-markdown body>h2:first-child{margin-top:0;padding-top:0}
.github-markdown body>h1:first-child{margin-top:0;padding-top:0}
.github-markdown body>h1:first-child+h2{margin-top:0;padding-top:0}
.github-markdown body>h3:first-child,.github-markdown body>h4:first-child,.github-markdown body>h5:first-child,.github-markdown body>h6:first-child{margin-top:0;padding-top:0}
.github-markdown a:first-child h1,.github-markdown a:first-child h2,.github-markdown a:first-child h3,.github-markdown a:first-child h4,.github-markdown a:first-child h5,.github-markdown a:first-child h6{margin-top:0;padding-top:0}
.github-markdown h1 p,.github-markdown h2 p,.github-markdown h3 p,.github-markdown h4 p,.github-markdown h5 p,.github-markdown h6 p{margin-top:0}
.github-markdown li p.first{display:inline-block}
.github-markdown ul,.github-markdown ol{padding-left:30px}
.github-markdown ul :first-child,.github-markdown ol :first-child{margin-top:0}
.github-markdown ul :last-child,.github-markdown ol :last-child{margin-bottom:0}
.github-markdown dl{padding:0}
.github-markdown dl dt{font-size:14px;font-weight:bold;font-style:italic;padding:0;margin:15px 0 5px}
.github-markdown dl dt:first-child{padding:0}
.github-markdown dl dt>:first-child{margin-top:0}
.github-markdown dl dt>:last-child{margin-bottom:0}
.github-markdown dl dd{margin:0 0 15px;padding:0 15px}
.github-markdown dl dd>:first-child{margin-top:0}
.github-markdown dl dd>:last-child{margin-bottom:0}
.github-markdown blockquote{border-left:4px solid #ddd;padding:0 15px;color:#777}
.github-markdown blockquote>:first-child{margin-top:0}
.github-markdown blockquote>:last-child{margin-bottom:0}
.github-markdown table{padding:0}
.github-markdown table tr{border-top:1px solid #ccc;background-color:#fff;margin:0;padding:0}
.github-markdown table tr:nth-child(2n){background-color:#f8f8f8}
.github-markdown table tr th{font-weight:bold;border:1px solid #ccc;text-align:left;margin:0;padding:6px 13px}
.github-markdown table tr td{border:1px solid #ccc;text-align:left;margin:0;padding:6px 13px}
.github-markdown table tr th :first-child,.github-markdown table tr td :first-child{margin-top:0}
.github-markdown table tr th :last-child,.github-markdown table tr td :last-child{margin-bottom:0}
.github-markdown img{max-width:100%}
.github-markdown span.frame{display:block;overflow:hidden}
.github-markdown span.frame>span{border:1px solid #ddd;display:block;float:left;overflow:hidden;margin:13px 0 0;padding:7px;width:auto}
.github-markdown span.frame span img{display:block;float:left}
.github-markdown span.frame span span{clear:both;color:#333;display:block;padding:5px 0 0}
.github-markdown span.align-center{display:block;overflow:hidden;clear:both}
.github-markdown span.align-center>span{display:block;overflow:hidden;margin:13px auto 0;text-align:center}
.github-markdown span.align-center span img{margin:0 auto;text-align:center}
.github-markdown span.align-right{display:block;overflow:hidden;clear:both}
.github-markdown span.align-right>span{display:block;overflow:hidden;margin:13px 0 0;text-align:right}
.github-markdown span.align-right span img{margin:0;text-align:right}
.github-markdown span.float-left{display:block;margin-right:13px;overflow:hidden;float:left}
.github-markdown span.float-left span{margin:13px 0 0}
.github-markdown span.float-right{display:block;margin-left:13px;overflow:hidden;float:right}
.github-markdown span.float-right>span{display:block;overflow:hidden;margin:13px auto 0;text-align:right}
.github-markdown code,.github-markdown tt{margin:0 2px;padding:0 5px;white-space:nowrap;border:1px solid #eaeaea;background-color:#f8f8f8;border-radius:3px}
.github-markdown pre code{margin:0;padding:0;white-space:pre;border:none;background:transparent}
.github-markdown .highlight pre{background-color:#f8f8f8;border:1px solid #ccc;font-size:13px;line-height:19px;overflow:auto;padding:6px 10px;border-radius:3px}
.github-markdown pre{background-color:#f8f8f8;border:1px solid #ccc;font-size:13px;line-height:19px;overflow:auto;padding:6px 10px;border-radius:3px}
.github-markdown pre code,.github-markdown pre tt{background-color:transparent;border:none}
