.ui-resizable-handle {
  background-color: #d8d8d8;
  width: 8px;
  right: -8px;
  transition: .2s linear;
}
.ui-resizable-handle:hover {
  background-color: #c4c4c4;
}
#toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  height: 25px;
  background-color: #f1f1f1;
  border-bottom: 1px solid #d8d8d8;
}
#toolbar button {
  background-color: transparent;
  border: 0;
  cursor: default;
  float: left;
  width: 25px;
  height: 25px;
}
#toolbar button:hover {
  background-color: #d8d8d8;
}
#toolbar button:active {
  background-color: #cbcbcb;
}
#toolbar button .glyphicon {
  font-size: 12px;
  line-height: inherit;
  top: 0;
}
#code-container {
  position: absolute;
  top: 25px;
  left: 0;
  right: auto;
  bottom: 0;
  width: 50%;
  background-color: #333;
}
#code-container *,
#code-container *:before,
#code-container *:after {
  box-sizing: initial;
}
#code-container #ace-editor {
  width: 100%;
  height: 100%;
}
#preview-container {
  overflow: auto;
  position: absolute;
  top: 25px;
  left: auto;
  right: 0;
  bottom: 0;
  width: 50%;
  background-color: #f8f8f8;
}
