body {
	background-color: #333;
	font-family: Helvetica, sans-serif;
	overflow: hidden;
	&.fade {
		opacity: 0.1;
		transition: 1s linear;
	}
}

#code-mirror-container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 50%;

	.CodeMirror {
		height: 100%;
	}	
}

#preview-container {
	
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 50%;

	margin: 0;
	padding: 0;
	overflow: auto;

	.markdown {
		box-sizing: border-box;
		height: 100%;
	}
}